*{
    box-sizing: border-box;
}

body{
    color: #9b9999;
    background: #212121;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
h1{
    text-align: center;
}
#videoInfoForm{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
input{
    height: 33px;
    width: 350px;
    border-radius: 5px;
}
/* button{
    background-color: #333;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
} */

.grid-wrap{
    padding: 20px;
}
#videoInfoContainer{
    padding: 10px 25px;
}

@media (max-width: 768px) {
    #videoInfoForm{
        flex-direction: column;
    }
}