*{
    box-sizing: border-box;
}

body{
    color: #9b9999;
    background: #212121;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
h1{
    text-align: center;
}
#videoInfoForm{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}
input{
    height: 33px;
    width: 350px;
    border-radius: 5px;
}
/* button{
    background-color: #333;
    color: #ffffff;
    padding: 8px 25px;
    border-radius: 5px;
    border: none;
} */

.select-dropdown {
    background-color: #9b9999;
    border-radius: 6px;
    margin: 0 auto;
  }
  .select-dropdown select {
    font-family: "helvetica neue", helvetica;
    font: 26px Cursive;
    color: white;
    padding: 8px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .select-dropdown select:active, .select-dropdown select:focus {
    outline: none;
    box-shadow: none;
    background-color: #212121;
  }
  .select-dropdown:after {
    content: " ";
    position: absolute;
    top: 25%;
    margin-top: -2px;
    right: 4800px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid white;
  }
  .select-dropdown option{
    font: 26px Cursive;
    background: #9b9999;
    color: #444;
    width: 100%;
  }

.grid-wrap{
    padding: 20px;
}
#videoInfoContainer{
    padding: 10px 25px;
}

@media only screen and (max-width: 700px) {
    #videoInfoForm{
        flex-direction: column;
    }
}